@import './vars.styl'

.counter
  align-items: center
  background: col-gray-light
  color: col-gray-dark
  display: flex
  flex-flow: row nowrap
  flex-grow: 1
  height: 2.5 * grid-size
  justify-content: space-between
  padding: 0 (grid-size / 2)

  &:not(:last-child)
    margin-right: (grid-size / 2)

  .buttons
    display: flex
    flex-flow: column nowrap

    img
      cursor: pointer
      margin: 1px 0
