@import './vars.styl'

.ingredient
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  .name
    text-transform: capitalize

  .quantity
    color: col-1

    .unit
      color: darken(col-gray-light, 20%)
      font-style: italic
      margin-left: 2px
