@import './vars.styl'

.ingredient
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  .name
    &::first-letter
      text-transform: uppercase

  .quantity
    color: col-1
    margin-left: 3px

    .unit
      color: darken(col-gray-light, 20%)
      font-style: italic
      margin-left: 2px
