@import './vars.styl'

.ingredient
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  .title
    .name
      text-transform: capitalize

    .type
      color: darken(col-gray-light, 20%)

  .quantity
    color: col-1
