@import './vars.styl'

article
  background: white
  color: black
  display: flex
  flex-flow: column nowrap
  margin-bottom: grid-size
  margin-right: grid-size
  padding-bottom: (grid-size/2)
  width: 12 * grid-size

  header
    background: col-1
    display: flex
    padding: grid-size

    img
      height: 10 * grid-size
      margin-bottom: -2 * grid-size
      object-fit: contain
      width: 10 * grid-size

  h3
    color: col-1
    font-size: 1.2em
    text-align: center
    margin: (2 * grid-size) 0 grid-size

  .counter-row
    display: flex
    flex-flow: row nowrap
    margin: 0 grid-size (grid-size / 2)
