@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700')

bg-color = rgb(94, 103, 127)
col-1 = rgb(125, 129, 211)
col-gray-light = rgb(230, 230, 237)
col-gray-dark = #333333

grid-size = 20px
