@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700')

bg-color = rgb(94, 103, 127)
col-1 = rgb(125, 129, 211)
col-gray = rgb(230, 230, 237)

grid-size = 20px

container()
  margin: auto
  width: 51 * grid-size

#cookbook > header
  container()
  align-items: center
  display: flex
  flex-flow: row nowrap
  height: 6 * grid-size

  h1
    margin: 0

body
  background: bg-color
  color: white
  font-family: 'Droid Serif', serif
  font-size: 14px
  margin: 0

section
  container()
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

  article
    background: white
    color: black
    display: flex
    flex-flow: column nowrap
    margin-bottom: grid-size
    width: 12 * grid-size

    &:not(:nth-of-type(4n))
      margin-right: grid-size

    header
      background: col-1
      display: flex
      padding: grid-size

      img
        height: 10 * grid-size
        margin-bottom: -2 * grid-size
        object-fit: contain
        width: 10 * grid-size

    h3
      color: col-1
      font-size: 1.2em
      text-align: center
      margin: (2 * grid-size) 0 grid-size

    footer
      display: flex
      flex-flow: row nowrap
      height: 2.5 * grid-size
      margin-top: (grid-size / 2)

      button
        background: col-1
        border: none
        color: white
        flex-grow: 1
        font-family: inherit
        font-size: 1em

.counter-row
  display: flex
  flex-flow: row nowrap
  margin: 0 grid-size (grid-size / 2)

  .counter
    align-items: center
    background: col-gray
    color: #333333
    display: flex
    flex-flow: row nowrap
    flex-grow: 1
    height: 2.5 * grid-size
    justify-content: space-between
    padding: 0 (grid-size / 2)

    &:not(:last-child)
      margin-right: (grid-size / 2)

    .buttons
      display: flex
      flex-flow: column nowrap

      img
        margin: 1px 0
